<div class= "gradient-bg">
<h1>Editing Job</h1>
</div>

<%= render 'form' %>

<%= button 'New Job item', new_job_job_item_path(@job) %>
<%= button_to 'Destroy',[@job], confirm: 'Are you sure?', method: :delete %>

<div class= "hidden"><%=  @job_items = @job.job_items %></div>
<table>
  <tr class="headers-row">
    <th>Description</th>
    <th>Drawing Number</th>
    <th>Machine</th>
    <th>Quantity</th>
    <th>Finished?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @job_items.each do |job_item| %>
  <tr class="<%= cycle('odd', 'even')%>">
    <td><%= job_item.description %></td>
    <td><%= job_item.drawing_number %></td>
    <td><%= job_item.machine %></td>
    <td><%= job_item.quantity %></td>
    <td><%= job_item.finished? ? "Completed" : "In Progress" %></td>
    <td><%= button 'Show', [@job, job_item] %></td>
    <td><%= button 'Edit', edit_job_job_item_path(@job, job_item) %></td>
    <td><%= button_to 'Destroy', [@job, job_item], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Show', @job %> |
<%= link_to 'Back', jobs_path %>