<%= javascript_include_tag "jobs" %>
<%= javascript_include_tag "jExpand" %>
<%= javascript_include_tag "jquery" %>

<div class=gradient-bg>
    <h1>Listing Jobs</h1>
</div>


<table id= "report">
  <tr class= 'headings'>
    <th><%= sortable "number" %></th>
    <th><%= sortable "customer_id" %></th>
    <th><%= sortable "priority" %></th>
    <th><%= sortable "quantity" %></th>
    <th><%= sortable "due_date" %></th>
  </tr>


<% @jobs.each do |job| %>
  <tr class=<%= cycle('odd', 'even') %>>
    <td><%= job.number %></td>
    <td><%= job.customer %></td>
    <td><%= job.priority %></td>
    <td><%= job.quantity %></td>
    <td><%= job.due_date %></td>
  </tr>

  <% end %>
</table>

<br />

<%= button "New Job", new_job_path%>
<%= button "Home", "/" %>
