<body>
<div class=gradient-bg>
    <h1>Listing Jobs</h1>
    <h2>Logged in as <%= current_user.email.upcase %></h2>
</div>

<%= form_tag jobs_path, method: 'get' do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", name: nil %>
    </p>
<% end %>

<div id="jobTable">
  <div class="headers-row">
    <div class="dataColumn"><%= sortable "number" %></div>
    <div class="dataColumn"><%= sortable "customer_id" %></div>
    <div class="dataColumn"><%= sortable "quantity" %></div>
    <div class="dataColumn"><%= sortable "priority" %></div>
    <div class="dataColumn"><%= sortable "due_date" %></div>
    <div class="dataColumn"><%= sortable "finished" %></div>
    <div class="hidden2"></div>
  </div>


  <% @jobs.each do |job| %>
      <div class="full-job-portlet">
            <div class="<%= cycle("odd","even") %>">
              <div class="data"><%= job.number %></div>
              <div class="data"><%= job.customer %></div>
              <div class="data"><%= job.quantity %></div>
              <div class="data"><%= job.priority %></div>
              <div class="data"><%= job.due_date %></div>
              <div class="data">
                <% if job.finished %>
                    Finished: <%= Time.now.in_time_zone("Central Time (US & Canada)") %>
                <% else %>
                <%= button_to "Finish!", finish_job_path(job, @job), method: "put" %>
                <% end %>
              </div>
              <div class="data"><%=  button 'Edit', edit_job_path(job, @job) %></div>
            </div>
          <div class="job-items-block">
              <% job.job_items.each do |ji| %>
                <div class="job-items">
                  <div class="data"><%= ji.description %></div>
                  <div class="data"><%= ji.drawing_number %></div>
                  <div class="data"><%= ji.quantity %></div>
                  <div class="data"><%= ji.machine %></div>
                  <div class="data"></div>
                  <div class="data"><%= ji.finished? ? "Completed" : "In Progress" %></div>
                  <div class="hidden2"></div>
                </div>
              <% end %>
          </div>
      </div>
  <% end %>
</div>

<%=  will_paginate @jobs %>
<div class="user_nav"><%= button 'New Job', new_job_path(@job) %></div>

<br />
<br />
<br />

<div class="user_nav">
  <%= button_to "Home", root_path %>
  <% if current_user %>
      logged in as <%=  current_user.email.upcase %>.
      <%= link_to "Log out", logout_path %>
  <% else %>
      <%= link_to "Sign Up", signup_path %>,
      <%= link_to "Log In", login_path %>, or
      <%= link_to "Log In with Google", auth_at_provider_path(provider: :google) %>
  <% end %>
</div>

<%= javascript_tag do %>
    $(document).ready(function(){
        $('#jobTable').jSortable();
    });

<% end %>


</body>