<div class=gradient-bg>
    <h1>Listing Jobs</h1>
</div>


<table id="yourMom">
  <tr class= 'headings'>
    <span class="class1">
        <th><%= sortable "number" %></th>
        <th><%= sortable "customer_id" %></th>
        <th><%= sortable "priority" %></th>
        <th><%= sortable "quantity" %></th>
        <th><%= sortable "due_date" %></th>
        <th></th>
    </span>
  </tr>


<% @jobs.each do |job| %>
  <tr class= "<%= cycle('odd','even') %>">
    <td><%= job.number %></td>
    <td><%= job.customer %></td>
    <td><%= job.priority %></td>
    <td><%= job.quantity %></td>
    <td><%= job.due_date %></td>
    <td><%= button 'Edit', edit_job_path(job) %></td>
  </tr>

  <tr class="headings">
    <td colspan="1">
      <% job.job_items.each do |ji| %>
        <ul>
          <li><%= ji.description %></li>
        </ul>
      <% end %>
    </td>
    <td colspan="1">
      <% job.job_items.each do |ji| %>
        <ul class="sublist">
          <li><%= ji.drawing_number %></li>
        </ul>
      <% end %>
    </td>
    <td colspan="1">
      <% job.job_items.each do |ji| %>
        <ul class="sublist">
          <li><%= ji.machine %></li>
        </ul>
      <% end %>
    </td>
    <td colspan="1">
      <% job.job_items.each do |ji| %>
        <ul class="sublist">
          <li><%= ji.quantity %></li>
        </ul>
      <% end %>
    </td>
    <td colspan="1">
      <% job.job_items.each do |ji| %>
        <ul class="sublist">
          <li><%= ji.finished_date %></li>
        </ul>
      <% end %>
    </td>
    <td></td>
  </tr>

<% end %>



</table>

<br />

<%= button "New Job", new_job_path%>
<%= button "Home", "/" %>

<%= javascript_tag do %>
  $(document).ready(function(){
    $('#yourMom').jExpand();
  });
<% end %>
