<div class=gradient-bg>
    <h1>Listing Jobs</h1>
</div>

<%= form_tag jobs_path, method: 'get' do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", name: nil %>
    </p>
<% end %>



<table id="yourMom">
  <tr class= 'headings'>
        <th><%= sortable "number" %></th>
        <th><%= sortable "customer_id" %></th>
        <th><%= sortable "priority" %></th>
        <th><%= sortable "quantity" %></th>
        <th><%= sortable "due_date" %></th>
        <th><%= sortable "finished" %></th>
        <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr id="sortable" class= "<%= cycle('odd','even') %>">
    <td><%= job.number %></td>
    <td><%= job.customer %></td>
    <td><%= job.priority %></td>
    <td><%= job.quantity %></td>
    <td><%= job.due_date %></td>
    <td></td>
    <td><%= button 'Edit', edit_job_path(job) %></td>
  </tr>

  <tr id="sortable" class="child">
    <td colspan="1">
      <% job.job_items.each do |ji| %>
        <ul>
          <li><%= ji.description %></li>
        </ul>
      <% end %>
    </td>
    <td colspan="1">
      <% job.job_items.each do |ji| %>
        <ul class="sublist">
          <li><%= ji.drawing_number %></li>
        </ul>
      <% end %>
    </td>
    <td colspan="1">
      <% job.job_items.each do |ji| %>
        <ul class="sublist">
          <li><%= ji.machine %></li>
        </ul>
      <% end %>
    </td>
    <td colspan="1">
      <% job.job_items.each do |ji| %>
        <ul class="sublist">
          <li><%= ji.quantity %></li>
        </ul>
      <% end %>
    </td>
    <td colspan="1">
      <% job.job_items.each do |ji| %>
        <ul class="sublist">
          <li><%= ji.finished %></li>
        </ul>
      <% end %>
    </td>
    <td></td>
    <td></td>
  </tr>
<% end %>



</table>

<br />
<%= will_paginate @jobs %>
<%= button "New Job", new_job_path%>
<%= button "Home", "/" %>


<%= javascript_tag do %>
  $(document).ready(function(){
    $('#yourMom').jExpand();
  });
<% end %>

<%= javascript_tag do %>
    $(document).ready(function(){
        $('#yourMom tbody').jSortable();
});

<% end %>

