<body>
    <div class= 'gradient-bg'>
      <h1>WorldFab, Inc.</h1>
      <h2>CUSTOM MANUFACTURING WITH UNPARALLELED QUALITY</h2>
    </div>

    <br />


      <%= link_to 'Job List', jobs_path %>
      <br />
      <%= link_to 'Customer List', customers_path %>

    <br />
    <br />

    <div class="user_nav">
      <% if current_user %>
          logged in as <%=  current_user.username.titleize %>.
          <%= link_to "Log out", logout_path %>
      <% else %>
          <%= link_to "Sign Up", signup_path %>,
          <%= link_to "Log In", login_path %>, or log-in with
          <%= link_to "Google", auth_at_provider_path(provider: :google) %>
      <% end %>
    </div>





</body>





