<div class="gradient-bg">
  <h1>Listing Customers</h1>
</div>

<table>
  <tr class="headings">
    <th>Name</th>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= customer.name %></td>
    <td><%= customer.address %></td>
    <td><%= button 'Show', customer %></td>
    <td><%= button 'Edit', edit_customer_path(customer) %></td>
    <td><%= button_to 'Destroy', customer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<div class="user_nav">
  <%= button_to "Home", root_path %>
  <% if current_user %>
      logged in as <%=  current_user.email.upcase %>.
      <%= link_to "Log out", logout_path %>
  <% else %>
      <%= link_to "Sign Up", signup_path %>,
      <%= link_to "Log In", login_path %>, or
      <%= link_to "Log In with Google", auth_at_provider_path(provider: :google) %>
  <% end %>
</div>

<%= button 'New Customer', new_customer_path %>
<%= button 'Home', "/" %>

