<%= form_for([@job, @job_item]) do |f| %>
  <% if @job_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_item.errors.count, "error") %> prohibited this job item from being saved:</h2>

      <ul>
      <% @job_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :drawing_number %><br />
    <%= f.text_field :drawing_number %>
  </div>

  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :finished_date %><br />
    <%= f.date_select :finished_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
