<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @job_item.description %>
</p>

<p>
  <b>Drawing Number:</b>
  <%= @job_item.drawing_number %>
</p>

<p>
  <b>Machine:</b>
  <%= @job_item.machine %>
</p>

<p>
  <b>Quantity:</b>
  <%= @job_item.quantity %>
</p>

<p>
  <b>Finished Date:</b>
  <%= @job_item.finished_date %>
</p>


<%= link_to 'Edit', edit_job_job_item_path(@job, @job_item) %> |
<%= link_to 'Back', edit_job_path(@job) %>
