<!DOCTYPE html>
<html>
<head>
  <title>Pre-Fab Schedule</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jobs" %>
  <%= javascript_include_tag "jExpand" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
