<!DOCTYPE html>
<html>
<head>
  <title>Pre-Fab Schedule</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jExpand" %>
  <%= javascript_include_tag "jSortable" %>
  <%= javascript_include_tag "jquery-ui" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
<%= yield %>
  
  <div class="user_nav">
    <% if current_user %>
        logged in as <%=  current_user.username %>.
        <%= link_to "Log out", logout_path %>
    <% else %>
        <%= link_to "Sign Up", signup_path %>,
        <%= link_to "Log In", login_path %>, or
        <%= link_to "Log In with Google", auth_at_provider_path(provider: :google) %>
    <% end %>
  </div>
  <% flash.each do |name, msg| %>
    <%=  content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>
</div>

</body>
</html>
